/*
element {
	display:

	정렬:

	크기:

	border:

	margin:

	padding:

	font:

	color:
}
*/

#left_menu {
	display: inline-block;
	
	float: left;
	
	height: 100vh;
	width: 240px;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 0px;
	
	margin: 0px;
	
	background-color: white;
}

#center_menu {
	/*enable scroll*/
	-webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
	
	display: inline-block;
	
	height: 100vh;
	width: 75vw;
	
	border-style: solid;
	border-width: 0px;
	border-right-width: 1px;
	border-color: black;
	
	margin-left: 0px;
	
	background-color: #f1f3f5;
}

#right_menu {
	display: inline-block;
	
	height: 100vh;
	width: auto;
	
	background-color: red;
}

/*로고*/
#logo {
	position: absolute;
	bottom: 0%;
	
	width: 240px;
	height: auto;
	
	cursor: pointer;
}

/*강의 제목*/
.title_lecture {
    display: flex;
	
    justify-content: center;
    align-items: center;
	
	height: 2.2em;
	
	border-bottom-width: 1px;
	
	font-size: 1.5em;
	font-weight: bold;
}

.description {
    text-align: center;
	
	height: 1.5em;
	margin: 0px;
	
	font-family: "Nanum Gothic";
	font-size: 1.2em;
	
	color: black;
}

/*n주차 제목*/
.weeks {
	display: none;
	
	padding-left: 40px;
}

.constcell{
    background-color: #EEEEEE;
}

.inputcell{
    background-color: white;
}

.resultcell{
    background-color: #dcf7e3;
}

.paragraph_body{
    margin-left: 3em;
    margin-right: 3em;
}

/*스크롤 방지*/
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

/*목록 전체 속성*/
ul {
	margin: 0px;
	
	padding-left: 0px;
}

/*리스트 요소 속성*/
ul li {
	text-align: center;
	
	width: 100%;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 0px;
	
	margin-top: -1px;
	margin-left: -1px;
	
	padding-left: 0px;
	
	font-family: "Nanum Gothic";
	
	list-style: none;
	
	background-color: white;
}

/*리스트 요소 호버 효과*/
ul li:hover {
	background-color: #ced4da !important;
}

/*리스트 요소 클릭 효과*/
ul li:active {
	color: white;
	background-color: #868e96 !important;
}

/*n주차 선택 리스트*/
ul ul li {
    display: flex;
	
    justify-content: center;
    align-items: center;
	
	height: 1.6em;
	
	font-size: 1em;
}

table, td, th {
    table-layout: fixed;
    
	border : 1px solid black;
    border-collapse : collapse;
}

table{
    width: calc(100% - 6em);
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}


input{
    width: 80%;
    
	text-align: right;
    font-size: 1em;
	
	border: 0px;
    border-bottom: solid 1px;
    
    background-color: #f5f5f5;
}

h1{
    margin-left: 1.2em;
    margin-top: 1.2em;
}

p{
    font-size: 1em;
}

pre{
    font-family: "Nanum Gothic";
    font-weight: bold;
    white-space: pre-wrap;
}


